@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/globals" as *;

.player-card {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  font-size: 13px;

  &__name {
    width: 50%;
    text-align: left;
  }
  &__gender,
  &__throws {
    width: 15%;
    text-align: left;
  }
  &__bats {
    width: 2.75rem;
    text-align: left;
  }
}

.btn {
  &__delete-player {
    border: none;
  }
  &__delete-img {
    width: 1rem;
  }
}
