@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/globals" as *;

.games-card {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;

  &-column {
    &--date {
      width: 25%;
      text-align: left;
    }
    &--team {
      width: 20%;
      text-align: left;
    }
    &--score {
      width: 3rem;
      text-align: left;
    }
  }
}
